* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .content-wrapper {
    width: 50%;
    background-color: rgb(109, 195, 238);
    padding: 5%;
    color: #ffffff;
  }
  
  h1 {
    font-size: 50px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  figure {
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .button {
    margin-top: 40px;
  }
  .venue{
    margin-bottom: 90px;
  }
  .info{
    margin-bottom: 2px;
  }
  
  .button a {
    display: inline-block;
    padding: 10px 50px;
    background: rgb(238, 177, 36);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(244, 242, 242);
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
    text-align: center;
  }
  .button a:hover {
    background: rgb(250, 248, 244);
    color: rgb(50, 201, 247);
  }
  
  @media screen and (max-width: 768px) {
    .content-wrapper {
      padding-bottom: 50px;
    }   
  }

  