h1 {
    color:rgb(249, 139, 14);
    font-size:larger;
}
h2{
    color:rgb(249, 139, 14);
    font-size:larger;
}
h3{
    color:rgb(249, 139, 14);
    font-size:larger;
}
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

*{
    color:rgb(142, 135, 235);
    background-color: rgb(242, 254, 227);
    font-size: 18px;

   }
   ul{
    font-size: 19px;

   }
   #header{
    color: rgb(8, 6, 8);
    font-size:x-large;
    
}
   #top{
    color:rgb(157, 87, 231);
    font-size:20px;
    border: 1px solid rgb(0, 0, 0);
   }
   .top1{
    color: rgb(228, 27, 27);
    font-size:larger;
   }