h1 {
    color:rgb(249, 139, 14);
}
h2{
    color:rgb(249, 139, 14);
}
h3{
    color:rgb(249, 139, 14);
}

*{
    color:rgb(142, 135, 235);
    background-color: rgb(242, 254, 227);
    font-size: 18px;

   }
   ul{
    font-size: 19px;

   }
   #header{
    border: 1px solid rgb(12, 11, 10);
    font: size 20px;
    color: rgb(176, 76, 243);
   }
   #top{
    color:rgb(10, 13, 15);
    font-size:20px;
   }
   .top1{
    color: rgb(228, 27, 27);
   }